*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #adadb1;
    margin: 0;
    padding: 0;
}
.box1 {
    background: #6fd9;
    border-bottom: 1px solid lightgray;
    border-radius: 4px;
    padding: 2rem;
}
.box2 {
    border: 1px solid lightgray;
    background: #6fffd2;
    border-radius: 4px;
    padding: 2rem;
}
.box3 {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 2rem;
    background: #84ffff;
}
.box4 {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 2rem;
    background: #84ffff;
}
.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;
}
.box3 {
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
main {
    display: grid;
    grid-gap: 0.4rem;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "box1 box1 box1 box1"
        "box2 box3 box3 box3"
        "box2 box4 box4 box4"
        "box2 footer footer footer";
}
footer {
    grid-area: footer;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 2rem;
    background: #84ff;
    margin-bottom: 0.4rem;
}
kendo-appbar {
  margin: 0px;
}
.title {
    font-size: 18px;
    margin: 0;
}
kendo-badge-container {
    margin-right: 8px;
}
ul {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
li {
    margin: 0 9px;
}
li:hover {
    cursor: pointer;
    color: #D6002F;
}
.actions .k-button {
    padding: 0;
}
.expand {
    position: absolute;
    bottom: 20px;
    margin-left: 14px;
}
.menu-btn {
    display: none;
}
kendo-avatar {
    margin-right: 5px;
}
@media screen and (max-width: 760px) {
  #drawer {
    position: absolute;
    left: 0px;
    height: 90vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }
  .active {
    transform: translateX(0%) !important;
  }
  .menu-btn {
    display: block;
    margin-left: 15px;
    }
    main {
        display: grid;
        grid-gap: 0.4rem;
        height: 90vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
            "box1"
            "box2"
            "box3"
            "box4"
            "footer";
    }

}